body {
    background: #f6f7fb;
    color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
    margin: 0%;
    line-height: 1.6;
}
main {
    max-width: 920px;
    margin: 24px auto;
    padding: 0 20px;
}
/* HEADER PROFESIONAL */
.site-header {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 18px;
    max-width: 980px;
    margin: 24px auto;
    background-color: #425c76;
    } 

.header-text {
    display: flex;
    flex-direction: column;
}

.site-title{
    margin: 0%;
    font-size: 40px;
    font-weight: 700;
    color: #ffff;
}
.site-subtitle{
    margin: 0;
    font-size: 42px;
    opacity: 0.9;
    color: #cbd5e1;
}
.site-welcome {
    margin: 6px 0 0;
    font-size: 16px;
    color: #e2e8f0;
}

/*PHOTO*/
.profile-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0,5)
    }

/*SECTION TITLES */

H1 {
    color: aliceblue;
}
h2 {
    color: #1b4f72;
}
h3 {
    color: #1b4f72;
}
ul {
    color: #1b4f72;
}
li {
    color: #29058f;
}
footer {
    background-color: aqua;
}
p {
    color: #118dbe;
    text-decoration: none;
}
.centered {
    text-align: center;
    background-color: rgb(139, 205, 249);
    border: 2px solid #29058f;
    border-radius: 10%;
    padding: 3px;
    background-color: white;
}

.intro {
    max-width: 500px;
    text-align: left;
    background-color: #dbd2f4;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.intro h1 {
    font-size: 36px;
    margin-bottom: 5px;
}
.intro p {
    font-size: 18px;
    margin-top: 10%;
}

head {
    scrollbar-color: unset;
}

/*TEXT*/
.header-text{
    display: flex;
    flex-direction: column;
    color: rgb(94, 189, 237);
}